*, *:after, *:before {
  box-sizing: border-box;
}

body {
  width: 100%;
  padding: 50px;
}

#board {
  height: 100px;
  width: 300px;
  display: block;
  margin: 100px auto;
  background: brown;
  position: relative;
}
.checker {
  height: 40px;
  width: 40px;
  display: inline-block;
  background: black;
  border-radius: 20px;
}

.red {
  background: red !important;
}

.slot {
  height: 50px;
  width: 50px;
  background: white;
  display: block;
  border-radius: 25px;
  position: absolute;
  top: 25px;
}

#slot1 {
  left: 25px;
}
#slot2 {
  left: 125px;
}
#slot3 {
  left: 225px;
}

.piece {
  height: 40px;
  width: 40px;
  margin: 5px;
  border-radius: 20px;
  display: none;
}

.blackpiece {
  background: black;
}

.whitepiece {
  background: #999;
}

.piece.on {
  display: block;
}
